.home-container{
    margin: 200px;
    margin-top: 10px;
    
    /* display: grid; */
   
}
.quiz-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.color{
    color: white;
}

@media only screen and (max-width:425px){
    .quiz-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
}
.home-container{
    width: 768px;
    margin-left: 150px;
    

} 
}